<div class="navbar">
   <nav class="blue-grey darken-1r">
     <div class="nav-wrapper">
       <a class="brand-logo center" data-activates="mobileNav">
         <span>
           <img class="logo-png" src="./images/aircraft_logo.png" alt="logo" />
         </span>
       </a>

       <a class="button-collapse" data-activates="mobileNav">
         <i class="material-icons">menu</i>
       </a>

       <ul class="right hide-on-med-and-down">
         <li><a href="/index.html">Home</a></li>
         <li><a href="/collection.html">Aircraft</a></li>
         <li class="firstNavItem"></li>
         <li class="secondNavItem"></li>
       </ul>

       <ul id="mobileNav" class="side-nav">
         <li><a href="/index.html">Home</a></li>
         <li><a href="/collection.html">Aircraft</a></li>
         <li class="firstNavItem"></li>
         <li class="secondNavItem"></li>
       </ul>
     </div>
   </nav>
 </div>
